<!doctype html>
<html lang="en">
  <head>
    <title>Admin - Create Product</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Admin - Christa Patrice</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
              <a class="nav-item nav-link active" href="/admin_dashboard">Home
                <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/admin_product_category">Product Category</a>
                <a class="nav-item nav-link" href="/admin_product_dashboard">Product Dashboard</a>
                <a class="nav-item nav-link" href="/admin_product/add">Create Product</a>
            </div>
            <a href="/admin_logout"><button type="button" class="btn btn-danger">Log Out</button></a>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="admin-page-title">
        <br>
        <br>
        <h4>Create Product</h4>
      </div>
      <br>
      <div class="add-product">
        <form action="/admin_addProduct" method="post">
          <select name="category">
            <option disabled selected>Select Category</option>
            <option value="">Oil Painting</option>
            <option value="">Personal Artwork</option>
          </select>
          <br>
          <br>
          <input type="text" name="name" placeholder="Product Name" required>
          <br>
          <br>
          <input type="number" name="quantity" placeholder="Quantity" required>
          <br>
          <br>
          <input type="text" name="price" placeholder="Price Per Unit" required>
          <br>
          <br>
          <input type="number" name="sales_tax" placeholder="Sales Tax" required>
          <br>
          <br>
          <textarea name="description" rows="8" cols="80" placeholder="Product Description" required></textarea>
          <br>
          <br>
          <input class="btn btn-primary" type="submit" value="Create">
        </form>

        <br>
      </div>
      <br>
      <br>
    </div>
    <footer class="admin-footer">
      <div class="container">
        <div>
          &copy; 2017. All Rights Reserved.
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
