<!doctype html>
<html lang="en">
  <head>
    <title>Product Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Admin - Christa Patrice</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
              <a class="nav-item nav-link active" href="/admin_dashboard">Home
                <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/admin_product_category">Product Category</a>
                <a class="nav-item nav-link" href="/product_dashboard">Product Dashboard</a>
                <a class="nav-item nav-link" href="/admin_product/add">Create Product</a>
                <a class="nav-item nav-link" href="#">Image Manager</a>
            </div>
            <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/register_login">Register/Login</a></li>
                    <li><a href="/cart">Shopping Cart</a></li>

                </ul>

            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log Out</button>
            </form>

                <a class="nav-item nav-link" href="/admin_product_dashboard">Product Dashboard</a>
                <a class="nav-item nav-link" href="/admin_product/add">Create Product</a>
            </div>
            <a href="/admin_logout"><button type="button" class="btn btn-danger">Log Out</button></a>

          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1>Hello</h1>
    </div>

    <div id="cp-product-section">
			<div class="container">
				<div class="row">

					<% for (let i=0; i<product.length; i++) {  %>
					<div class="col-md-4 prod text-center animate-box">
					<div class="product" style="background-image: url(images/art1.jpg);">
						<a href="#" class="view">
							<i class="icon-plus"></i>
						</a>
                    </div>

					<h3><a href="#"> <%= product[i].name %> </a></h3>
                    <span class="price"> $ <%= product[i].price %> </span>
                    
				</div>
					<% } %>
					
				</div>
			</div>
		</div>



    <footer class="admin-footer">
      <div class="container">
        <div>
          &copy; 2017. All Rights Reserved.
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
